
<main>


    <div class="head-container">
        <div id="exxenSlider" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assets/img/godfather.webp" class="d-block w-100" alt="Slide 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>The GodFather</h5>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="~/assets/img/fightclub.avif" class="d-block w-100" alt="Slide 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fight Club</h5>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="~/assets/img/prestige.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Prestige</h5>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="~/assets/img/fury.jpg" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fury</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/gone-girl-2014.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Gone-Girl</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/inception-2010.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Inception</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/inglourious-basterds-2009.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Inglourious Basterds</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/la-casa-de-papel.jpg" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>La Casa De Papel</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/prison break.jpg" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Prison Break</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/seven-1995.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Seven</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/img/Shutter-island.webp" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Shutter Island</h5>

                    </div>
                </div>
            </div>

            <div class="card-container">
                <button class="carousel-control-prev" type="button" data-bs-target="#exxenSlider"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#exxenSlider"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>

                <button class="scroll-btn left-btn">&lt;</button>
                <div class="row id" id="movies">
                </div>
                <button class="scroll-btn right-btn">&gt;</button>
            </div>

        </div>
</main>
