<main>
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
        <input type="text" id="searchInput" placeholder="Search the Film">
    </div>

    <div class="row" id="movies">
    </div>

</main>